@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
    background: #0e0e0e;
    font-family: 'Roboto', serif;
    padding: 0;
}
body {
    background: #0e0e0e;
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
    background-repeat: no-repeat;
    margin: 0;
    padding: 1em 0;
}
#wrapper {
    background: whitesmoke;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    margin: 0 auto;
    overflow: hidden;
    padding: 1em 2em;
    width: 90%;
    max-width: 1200px;
    min-width: 550px;
}
section {
    background: white;
    border-radius: 2px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    margin-bottom: 1em;
    padding: 1.5em 2.5em;
}
footer {
    border-top: 1px solid darkgray;
    clear: both;
    color: gray;
    font-size: .9em;
    padding-top: .9em;
    text-align: center !important;
}
section.mandelbrot {
    float: left;
}
section.julia {
    float: right;
}
canvas {
    border: 3px dashed darkgray;
    border-top: 0;
    border-bottom: 0;
    cursor: crosshair;
    display: block;
}
canvas.zoomActivado {
    cursor: zoom-in;
}
h1 {
    border-bottom: 1px solid gray;
    font-weight: normal;
    margin: 0 0 .5em;
    text-align: center;
}
section > h2 {
    border-top-right-radius: 10px;
    border-top-left-radius:  10px;
    color: whitesmoke;
    font-size: 1em;
    margin: 0;
    padding: .3em 5px .3em 1em;
    text-shadow: rgba(0,0,0,0.5) -1px -1px 0;
}
section.mandelbrot > h2 {
    background: darkred;
}
section.julia > h2 {
    background: midnightblue;
}
section > h2 > span {
    background: none;
    border-radius: 11px;
    cursor: pointer;
    float: right;
    height: 22px;
    margin: 0 0 0 5px;
    position: relative;
    text-align: center;
    transition: transform  .20s ease-in-out,
                background .03s ease-in;
    width: 22px;
}
section > h2 > span:hover {
    transform: scale(1.6);
    z-index: 9;
}
section > h2 > span:active {
    background: goldenrod;
    transform: scale(1.8);
    transition: transform .05s ease-in-out;
    z-index: 9;
}
section > h2 > span.activado {
    background: darkgoldenrod;
    transform: scale(1.4);
    z-index: 9;
}
section > h2 > span.reiniciar:before {
    border: 2px dashed white;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 4px;
    left: 4px;
}
section > h2 > span.zoom:before {
    border: 2px solid white;
    border-radius: 6px;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 4px;
    left: 4px;
}
section > h2 > span.zoom:after {
    background: white;
    border: none;
    border-radius: 2px;
    content: '';
    display: block;
    width: 6px;
    height: 2px;
    transform: rotate(45deg);
    position: absolute;
    top: 13px;
    left: 11px;
}
section > h2 > span.nroIteraciones {
    background: rgba(0,0,0,0.5);
    padding: 0 6px;
    text-shadow: none;
    width: inherit;
}
section > h2 > span.nroIteraciones:hover {
    transform: scale(1);
}
section > h2 > span.nroIteraciones:active {
    transform: scale(1.1);
    transition: transform .05s ease-in-out;
}
section > div {
    background: darkslategray;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;
    color: white;
    overflow: hidden;
    padding: .3em 1.3em;
    position: relative;
}
section > div > input {
    vertical-align: middle;
}
section > div > input[type="checkbox"] {
    margin-right: 10px;
}
.complejo {
    border-radius: 11px;
    color: rgba(255, 255, 255, 0);
    display: inline-block;
    margin-top: 1px;
    position: absolute;
    right: -239px;
    transition: right      .8s ease-in-out,
                background .8s ease-in-out,
                color      .8s ease-in-out;
}
.complejo > span {
    background: #63A800;
    border-radius: 11px;
    color: white;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 17px;
    opacity: 1;
    padding: 0;
    text-align: center;
    transition: background .8s ease-in-out;
    vertical-align: bottom;
}
.complejo * {
    opacity: 0;
    transition: opacity .8s ease-in-out;
}
.complejo.activado * {
    opacity: 1;
}
.complejo.activado {
    background: goldenrod;
    color: rgba(255, 255, 255, 1);
    right: 5px;
}
.complejo.activado > span {
    background: goldenrod;
}
.complejo > label {
    display: none;
}
.complejo > input {
    vertical-align: text-bottom;
}
.complejo > input[type='number'] {
    width: 60px;
}
.complejo > input[type='submit'] {
    background: darkgoldenrod;
    border: 0;
    border-radius: 11px;
    color: white;
    cursor: pointer;
    height: 21px;
    margin-left: 10px;
}

@media all and (max-width: 1320px) {
    #wrapper {
        padding: 16px;
    }
    section.julia, section.mandelbrot {
        padding: 24px;
    }
}
@media all and (max-width: 1282px) {
    #wrapper {
        text-align: center;
    }
    #wrapper > * {
        text-align: left;
    }
    section.julia, section.mandelbrot {
        display: inline-block;
        float: none;
        margin: .5em auto;
    }
}
@media all and (max-width: 597px) or (max-device-width: 640px) {
    body {
        padding: 0;
    }
}
