@import url(http://fonts.googleapis.com/css?family=Roboto);
html {
    background: #0e0e0e;
    font-family: 'Roboto', serif;
    padding: 0;
}
body {
    padding: 1em;
    margin: 0;
    background: #0e0e0e;
    background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
    background-repeat: no-repeat;
}
#wrapper {
    background: whitesmoke;
    width: 1200px;
    padding: 1em 2em;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
}
section {
    background: white;
    padding: 1.5em 2.5em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    border-radius: 2px;
    margin-bottom: 1em;
}
footer {
    text-align: center;
    clear: both;
    border-top: 1px solid darkgray;
    padding-top: .9em;
    font-size: .9em;
    color: gray;
}
section.mandelbrot {
    float: left;
}
section.julia {
    float: right;
}
canvas {
    border: 3px dashed darkgray;
    border-top: 0;
    border-bottom: 0;
    display: block;
    cursor: crosshair;
}
canvas.zoomActivado {
    cursor: zoom-in;
}
h1 {
    text-align: center;
    border-bottom: 1px solid gray;
    font-weight: normal;
    margin: 0 0 .5em;
}
section > h2 {
    margin: 0;
    font-size: 1em;
    color: whitesmoke;
    padding: .3em 5px .3em 1em;
    border-top-right-radius: 10px;
    border-top-left-radius:  10px;
    text-shadow: rgba(0,0,0,0.5) -1px -1px 0;
}
section.mandelbrot > h2 {
    background: darkred;
}
section.julia > h2 {
    background: midnightblue;
}
section > h2 > span {
    float: right;
    width: 22px;
    height: 22px;
    background: none;
    border-radius: 11px;
    margin: 0 0 0 5px;
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: transform  .20s ease-in-out,
                background .03s ease-in;
}
section > h2 > span:hover {
    z-index: 9;
    transform: scale(1.6);
}
section > h2 > span:active {
    z-index: 9;
    background: goldenrod;
    transform: scale(1.8);
    transition: transform .05s ease-in-out;
}
section > h2 > span.activado {
    z-index: 9;
    transform: scale(1.4);
    background: darkgoldenrod;
}
section > h2 > span.reiniciar:before {
    width: 10px;
    height: 10px;
    content: '';
    display: block;
    border: 2px dashed white;
    position: absolute;
    top: 4px;
    left: 4px;
}
section > h2 > span.zoom:before {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    content: '';
    display: block;
    border: 2px solid white;
    position: absolute;
    top: 4px;
    left: 4px;
}
section > h2 > span.zoom:after {
    width: 6px;
    height: 2px;
    background: white;
    content: '';
    display: block;
    border: none;
    border-radius: 2px;
    transform: rotate(45deg);
    position: absolute;
    top: 13px;
    left: 11px;
}
section > h2 > span.nroIteraciones {
    width: inherit;
    padding: 0 6px;
    background: rgba(0,0,0,0.5);
    text-shadow: none;
}
section > h2 > span.nroIteraciones:hover {
    transform: scale(1);
}
section > h2 > span.nroIteraciones:active {
    transform: scale(1.1);
    transition: transform .05s ease-in-out;
}
section > div {
    background: darkslategray;
    color: white;
    padding: .3em 1.3em;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;
    position: relative;
    overflow: hidden;
}
section > div > input {
    vertical-align: middle;
}
.complejo {
    border-radius: 11px;
    position: absolute;
    right: -239px;
    margin-top: 1px;
    display: inline-block;
    transition: right      .8s ease-in-out,
                background .8s ease-in-out,
                color      .8s ease-in-out;
    color: rgba(255, 255, 255, 0);
}
.complejo > span {
    border-radius: 11px;
    padding: 0;
    vertical-align: bottom;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    line-height: 17px;
    background: #63A800;
    cursor: pointer;
    transition: background .8s ease-in-out;
    opacity: 1;
    color: white;
}
.complejo * {
    opacity: 0;
    transition: opacity .8s ease-in-out;
}
.complejo.activado * {
    opacity: 1;
}
.complejo.activado {
    right: 5px;
    background: goldenrod;
    color: rgba(255, 255, 255, 1);
}
.complejo.activado > span {
    background: goldenrod;
}
.complejo > label {
    display: none;
}
.complejo > input {
    vertical-align: text-bottom;
}
.complejo > input[type='number'] {
    width: 60px;
}
.complejo > input[type='submit'] {
    margin-left: 10px;
    border: 0;
    height: 21px;
    background: darkgoldenrod;
    color: white;
    border-radius: 11px;
    cursor: pointer;
}
